html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background: url('assets/header.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
}

nav {
    padding: 0.5rem 1rem;
}

@media (min-width:568px) {
    nav {
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width:568px) {
    nav .nav-links ul {
        padding: 0;
    }
}

nav .nav-links ul li:first-of-type {
    padding-right: 2rem;
}

nav .nav-links li {
    font-size: 0.9rem;
    font-style: italic;
    list-style: none;
}

@media (max-width:568px) {
    nav .nav-links li {
        padding-bottom: 1rem;
    }
}

@media (min-width:568px) {
    nav .nav-links li {
        display: inline;
    }
}

nav .nav-links li a {
    color: #fefeff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0.2rem;
}

nav .nav-links li a:hover {
    transition: all 0.4s;
    color: #5d6b85;
    border-bottom: 2px solid #5d6b85;
}

.sticky-nav {
    background: #fff;
}

.sticky-nav nav {
    position: sticky;
}

.sticky-nav nav .nav-links li a {
    color: #414f6b;
    border-bottom: 2px solid #414f6b;
}

main .content {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:568px) {
    main .content {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

main .history {
    background: url('assets/mountain.jpg') no-repeat;
    background-size: cover;
}

main .history .content {
    padding-top: 2rem;
    padding-bottom: 27rem;
}

main .history h1, main .climb h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.5rem;
    font-size: 11.25rem;
    color: #6e7e99;
    position: relative;
    margin: 0;
}

main .history h1 span, main .climb h1 span {
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 2.6rem;
    color: #414f6b;
    position: absolute;
    left: 192px;
    bottom: 65px;
}

@media (max-width:568px) {
    main .history h1, main .climb h1 {
        font-size: 6rem;

    }
    main .history h1 span, main .climb h1 span {
        left: 94px;
        bottom: 32px;
    }
}

@media (min-width:568px) {
    main .history p {
        margin-top: -2rem;
        margin-left: 7rem;
    }
}

main .carousel {
    background: #414f6b;
    opacity: 0.8;
}

main .carousel .content {
    margin: 0 auto;
    padding: 1.5rem 0;
}

main .carousel .content .inner {
    overflow: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    text-align: center;
    align-items: center;
}

main .carousel .slider {
    text-align: center;
}

main .carousel .dot {
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.2rem;
    height: 8px;
    width: 8px;
    opacity: 0.2;
}

main .carousel .dot.active {
    opacity: 1;
}

main .climb h1 {
    color: #b0b4be;
}

main .climb p {
    margin-top: -2rem;
}

@media (max-width:568px) {
    main .climb p {
        margin-top: -0.5rem;
    }
}

@media (min-width:568px) {
    main .climb .text {
        display: flex;
        align-items: center;
    }
    main .climb h1 {
        margin-right: 8rem;
    }
    main .climb p {
        margin-top: 0;
    }
}

main .mountains {
    background: #414f6b;
    min-height: 40px;
}

@media (min-width:568px) {
    main .mountains ul {
        margin-left: 12rem;
        margin-top: 0;
    }
}

main .mountains li {
    display: inline;
    font-size: 1.1rem;
    margin-right: 0.8rem;
}

main .mountains li a {
    color: #b0b4be;
    text-decoration: none;
    text-transform: uppercase;
}

main .mountains .active {
    background: #b0b4be;
    line-height: 39px;
    padding: 10px 10px;
}

main .mountains .active a {
    border-bottom: 1px solid #414f6b;
    color: #414f6b;
}

main .schedule {
    background: url('assets/schedule.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 18rem;
}

main .schedule .time {
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem 2rem;
}

@media (min-width:568px) {
    main .schedule .time {
        width: 35%;
    }
}

main .schedule .time h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #414f6b;
    font-size: 2rem;
    margin: 0;
}

main .schedule .time .date {
    display: flex;
    justify-content: space-between;
}

footer {
    background: #414f6b;
    padding: 0.5rem 0;
}

@media (min-width:568px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: space-around;

    }
}

footer p {
    color: #63769d;
}

@media (max-width:568px) {
    footer {
        text-align: center;
        padding: 1rem 0;
    }
    footer p {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
}